<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>BYU Ride Board</title>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="One page parallax responsive HTML Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">


	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

	<!-- CSS
  ================================================== -->
	<!-- Themefisher Icon font -->
	<link rel="stylesheet" href="/plugins/themefisher-font/style.css">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
	<!-- Lightbox.min css -->
	<link rel="stylesheet" href="/plugins/lightbox2/css/lightbox.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="/plugins/animate/animate.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="/plugins/slick/slick.css">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<body id="body">

	<!--
  Start Preloader
  ==================================== -->
	<div id="preloader">
		<div class='preloader'>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--
  End Preloader
  ==================================== -->

	<!--
Fixed Navigation
==================================== -->
	<header class="navigation fixed-top">
		<div class="container">
			<!-- main nav -->
			<nav class="navbar navbar-expand-lg navbar-light px-0">
				<!-- logo -->
				<a class="navbar-brand logo" href="/">
					<img loading="lazy" class="logo-default" src="/images/logo.svg" alt="logo" />
					<img loading="lazy" class="logo-white" src="/images/logo-white.svg" alt="logo" />
				</a>
				<!-- /logo -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
					aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navigation">
					<ul class="navbar-nav ml-auto text-center">
						<li class="nav-item ">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="/login">Login</a>
						</li>

					</ul>
				</div>
			</nav>
			<!-- /main nav -->
		</div>
	</header>
	<!--
End Fixed Navigation
==================================== -->

	<!--
Welcome Slider
==================================== -->
	<section class="hero-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block mt-4">
						<h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">The BYU Ride <br>Board is
							Back!</h1>
						<p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">Introducing Cougar Cruiser,
							your go-to destination for convenient, safe, and friendly ridesharing! Serving the vibrant
							community of Brigham Young
							University, this platform connects students with shared travel opportunities.
						</p>
						<ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
							<li class="list-inline-item">
								<a data-scroll href="#services" class="btn btn-main">Explore Us</a>
							</li>
							<li class="list-inline-item">
								<a data-scroll href="#team" class="btn btn-transparent">Learn More</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--
Start About Section
==================================== -->
	<section class="service-2 section">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-lg-6">
					<!-- section title -->
					<div id="services"></div>
					<div class="title text-center">
						<h2>What Do We Offer?</h2>
						<p>Whether you're seeking a lift to campus, a weekend adventure, or a journey home, the Cougar
							Cruiser is your trusty
							sidekick, promoting sustainable and affordable commuting while building connections among
							the diverse student body. Join
							the movement, share the ride, and embark on your next adventure with peace of mind and
							new friends</p>
						<div class="border"></div>
					</div>
					<!-- /section title -->
				</div>
			</div>


			<div class="row">


				<div class="col-md-8">
					<div class="row text-center">
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<i class="tf-ion-ios-alarm-outline"></i>
								<h4>Community-Driven Transportation</h4>
								<p>Be part of a community-driven initiative that redefines how you travel. Connect with
									peers, save costs, and contribute
									to a greener environment. Experience the power of unity while commuting to and from
									campus or exploring beyond.</p>
							</div>
						</div><!-- END COL -->
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<i class="tf-ion-ios-briefcase-outline"></i>
								<h4>Accelerate Connections, Navigate the Fun</h4>
								<p>Shift your travel gears! Our Ride Board isn't just about reaching your
									destination—it's about sparking friendships and
									igniting memorable trips. Cruise through life with fellow BYU peers, share the road,
									and fuel your college experience
									with shared explorations and laughter.</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<i class="tf-ion-android-globe"></i>
								<h4>Adventure Awaits: Beyond Campus Roads</h4>
								<p>Shift into an adventure gear! Explore beyond campus confines with the BYU Ride Board.
									It’s not just about getting from
									point A to B; it’s about sharing stories, discovering hidden gems, and experiencing
									the thrill of exploring new horizons
									with your college crew.</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="service-item">
								<i class="tf-ion-android-navigate"></i>
								<h4>Safe, Reliable, Together: Your Commute Companion</h4>
								<p>Buckle up for a journey of trust and reliability! Travel confidently with our secure
									ride-sharing platform designed for
									BYU students. Enjoy the ride to classes, events, or weekend getaways knowing you’re
									part of a community that values
									safety and punctuality.</p>
							</div>
						</div><!-- END COL -->
						<!-- END COL -->
					</div>
				</div>
			</div> <!-- End row -->
		</div> <!-- End container -->
	</section> <!-- End section -->

	<!--
Start About Section
==================================== -->
	<section class="about-2 section" id="about services">
		<div class="container">
			<div class="row justify-content-center">
				<!-- section title -->
				<div class="col-lg-6">
					<div class="title text-center">
						<h2>Ready to embark on your next adventure?</h2>
						<p></p>
						<a data-scroll href="#services" class="btn btn-main">Find a Ride</a>
						<div class="border"></div>
					</div>
				</div>
				<!-- /section title -->
			</div>

			<!-- End row -->
		</div> <!-- End container -->
	</section> <!-- End section -->




	<footer id="footer" class="bg-one">
		<div class="top-footer">
			<div class="container">
				<div class="row justify-content-around">
					<div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
						<h3>about</h3>
						<p>At BYU Ride Board, we're dedicated to simplifying travel for students. Our platform fosters
							safe, eco-conscious rides,
							connecting the BYU community. With a focus on safety and seamless experiences, we're
							redefining shared journeys, making
							every ride an opportunity for connection and exploration.</p>
					</div>
					<!-- End of .col-sm-3 -->

					<div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
						<ul>
							<li>
								<h3>Our Services</h3>
							</li>
							<li><a href="service.html">Post a Ride</a></li>
							<li><a href="service.html">Find a Ride</a></li>
							<li><a href="service.html">Support</a></li>
						</ul>
					</div>
					<!-- End of .col-sm-3 -->


					<!-- End of .col-sm-3 -->


					<!-- End of .col-sm-3 -->

				</div>
			</div> <!-- end container -->
		</div>

	</footer> <!-- end footer -->


	<!-- end Footer Area
========================================== -->

	<!-- 
    Essential Scripts
    =====================================-->
	<!-- Main jQuery -->
	<script src="/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap4 -->
	<script src="/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- Parallax -->
	<script src="/plugins/parallax/jquery.parallax-1.1.3.js"></script>
	<!-- lightbox -->
	<script src="/plugins/lightbox2/js/lightbox.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/plugins/slick/slick.min.js"></script>
	<!-- filter -->
	<script src="/filterizr/jquery.filterizr.min.js"></script>
	<!-- Smooth Scroll js -->
	<script src="/plugins/smooth-scroll/smooth-scroll.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
	<script src="/plugins/google-map/gmap.js"></script>

	<!-- Custom js -->
	<script src="/js/script.js"></script>


</body>

</html>